{% extends '../base.html' %}
{% load static %}
{% block title %}Biologia{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-5">
        <div class="p-3 bg-warning bg-opacity-75 rounded" style="text-align: center; box-shadow: 12px 12px #dfdfdfbd;">
            <div class="fs-2">
                <h1 class="text-center mb-2 mt-2"><b>Biologia</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div>
        <div class="col-1">
            <div class="row">
                <p class="fs-2">Aulas</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Biologia1.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Embriologia Animal</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/tv/COLmB5cnEL1/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Biologia2.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vírus</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/tv/CGDrZSlHi6U/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Biologia3.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sistema Cardiovascular</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/tv/CJbwaTQpsNM/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-1">
            <div class="row">
                <p class="fs-2">Resumos</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Biologia4.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tireóide - Parte 1 -</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/p/CNdYwMrsbRn/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Biologia5.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tireóide - Parte 2 -</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/p/CNgAsz1M8tD/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Biologia6.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Citoplasmas e Organelas - Parte 1 -</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/p/CJWm06_p1rw/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}