{% extends '../base.html' %}
{% load static %}
{% block title %}Matemática{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-5">
        <div class="p-3 bg-warning bg-opacity-75 rounded" style="text-align: center; box-shadow: 12px 12px #dfdfdfbd;">
            <div class="fs-2">
                <h1 class="text-center mb-2 mt-2"><b>Matemática</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col-1">
            <p class="fs-2">Aulas</p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static '../static/img/poligonosRegulares.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Polígonos Regulares-Parte 1</h5>
              <a href="https://www.instagram.com/tv/CYPcJTTvxXk/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a aula</a>
            </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static '../static/img/poligonosRegularesB.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Polígonos Regulares-Parte 2</h5>
              <a href="https://www.instagram.com/tv/CYUefakl7lW/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a aula</a>
            </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static '../static/img/AreaPoligonos.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Área de Polígonos</h5>
              <a href="https://www.instagram.com/tv/Casnj1MpDgR/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a aula</a>
            </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-1">
            <p class="fs-2">Resumos</p>
        </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static '../static/img/teoremaTales.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Teorema de Tales</h5>
              <a href="https://www.instagram.com/p/CYe-tPclCSx/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a aula</a>
            </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static '../static/img/senosCossenos.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lei dos Senos e Cossenos</h5>
              <a href="https://www.instagram.com/p/CYpDEUOFI0U/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a aula</a>
            </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static '../static/img/somaSubArcos.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Soma e Subtração de arcos</h5>
              <a href="https://www.instagram.com/p/CYzc8DPvznK/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a aula</a>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}