{% extends '../base.html' %}
{% load static %}
{% block title %}Português{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-5">
        <div class="p-3 bg-warning bg-opacity-75 rounded" style="text-align: center; box-shadow: 12px 12px #dfdfdfbd;">
            <div class="fs-2">
                <h1 class="text-center mb-2 mt-2"><b>Português</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div>
        <div class="col-1">
            <div class="row">
                <p class="fs-2">Aulas</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/FuncoesDaLinguagem.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Funções da Linguagem</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/tv/CBwC7LuFbeH/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Sujeito.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sujeito</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/tv/CCrEAu5l7N6/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/OracoesCoordenadas.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Orações Coordenadas</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/tv/CDRyvWehHuf/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-1">
            <div class="row">
                <p class="fs-2">Resumos</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/OracoesSubordinadasPT1.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Orações Subordinadas PT-1</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/p/CaA43OHsHSZ/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/OracoesSubordinadasPT2.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Orações Subordinadas PT-2</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/p/CaFvQm2NB3l/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Crase.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Crase</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/p/CTLDE0oHg9G/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}