{% extends '../base.html' %}
{% load static %}
{% block title %}Redação{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-5">
        <div class="p-3 bg-warning bg-opacity-75 rounded" style="text-align: center; box-shadow: 12px 12px #dfdfdfbd;">
            <div class="fs-2">
                <h1 class="text-center mb-2 mt-2"><b>Redação</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div>
        <div class="col-1">
            <div class="row">
                <p class="fs-2">Aulas</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/....PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">...</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="..." class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/....PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">...</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="..." class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/s.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">....</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="..." class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-1">
            <div class="row">
                <p class="fs-2">Resumos</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">..</h5>
                    <!--<p class="card-text"></p>-->
                    <a href=".." class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">..</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="..." class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">...</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="Linkzin" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}