{% extends '../base.html' %}
{% load static %}
{% block title %}Redação{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-5">
        <div class="p-3 bg-warning bg-opacity-75 rounded" style="text-align: center; box-shadow: 12px 12px #dfdfdfbd;">
            <div class="fs-2">
                <h1 class="text-center mb-2 mt-2"><b>Redação</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div>
        <div class="col-1">
            <div class="row">
                <p class="fs-2">Aulas</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Redacao1.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Parágrafo Conclusivo</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/tv/CC6w9yjlyAQ/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Redacao2.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Estrutura da Redação Enem</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/tv/CEkO6RBnGPM/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Redacao3.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Coesão</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/tv/CEzo9wUjJng/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-1">
            <div class="row">
                <p class="fs-2">Resumos</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Redacao4.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Análise: Redação 1000 do ENEM 2018(Tema:manipulação do comportamento do usuário pelo controle de dados na internet)</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/p/CL44fqussOn/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Redacao5.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Análise: Redação 1000 do ENEM 2019(Tema:A democratização do acesso ao cinema no Brasil.)</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/p/CMIcIPZMcWJ/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/img/Redacao6.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Coesão</h5>
                    <!--<p class="card-text"></p>-->
                    <a href="https://www.instagram.com/p/CRZ9o_bM-nS/?utm_source=ig_web_copy_link" class="btn btn-warning">Acesse a Aula</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}