/* caso a gente queira colocar algum css especifico para sobescrever o do bootstrap */
body {
    display: flex;
    flex-direction: column;
}

.main_blue_color{
    background-color: #73CEE3;
}

.login_btn_color{
    background-color: #445EEB;
}

.carousel {
    width:640px;
    height:360px;
}