{% extends 'base.html' %}
{% load static %}
{% block statics %}
<link href="{% static '../static/css/about.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Quem somos?{% endblock %}
{% block content %}
<div class="container-md">
    <br>
    <div class="p-3 mb-2 bg-warning text-dark bg-opacity-75 rounded-pill">
        <div class="fs-2">
            <p class="text-center">
                <img class="ong_logo" src="{% static '../static/img/grandes-altitudes-logo.png'%}" alt="logo">
                <b>O QUE É A GRANDES A(L)TITUDES?</b>
            </p>
        </div>
    </div>
    <br>
    <div class="row-center">
        <div class="d-flex justify-content-center">
            <img src="{% static '../static/img/equipe-horizontal.webp' %}" class="rounded-3" alt="...">
        </div>
    </div>
    <br>
</div>
{% endblock %}