{% extends 'base.html' %}
{% load static %}
{% block statics %}
<link href="{% static '../static/css/about.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Quem somos?{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-5">
        <div class="p-3 mb-2 bg-warning text-dark bg-opacity-75 rounded" style="text-align: center; box-shadow: 12px 12px #dfdfdfbd;">
            <div class="fs-2">
                <h1 class="text-center mb-2 mt-2"><b>O QUE É A GRANDES A(L)TITUDES?</b></h1>
            </div>
        </div>
    </div>
    <div class="row-center mb-5">
        <div class="d-flex justify-content-center">
            <img src="{% static '../static/img/equipe-horizontal.webp' %}" class="rounded-3 big_img_responsive" alt="...">
        </div>
    </div>
    <div class="row mb-3">
        <h5 class="text-md-left lead">A ONG Grandes A(l)titudes integra conhecimento e solidariedade desde 2015. Os membros ajudam crianças e adolescentes de escolas públicas com dificuldades, dando monitorias, vídeo aulas, disponibilizando resumos e questionários sobre conteúdos cobrados em provas de vestibular. Inicialmente, era apenas um pequeno projeto do estudante Vinícius. Ele oferecia ajuda de monitoria para alunos batendo na porta de escolas da região. A primeira escola que ele ajudou foi a Júlio de Castilhos, na zona sul do Rio de Janeiro, por ser mais próximo de onde estudava. E nesse processo ficaram por 1 ano.</h5>
        <h5 class="text-md-left lead">Depois de um tempo, Vinicius resolveu chamar alguns amigos para ajudá-lo nas aulas, cada membro daria aula de uma matéria para um grupo de alunos. Com isso, expandiram para outra escola, e assim foi ganhando forma com dezenas de pessoas ajudando. Após alguns anos, decidiram entrar para Prêmio Prudential Espírito Comunitário, a versão brasileira do concurso de reconhecimento de jovens, baseado em serviço comunitário voluntário.  Em 2018, eles ganharam o prêmio e também foram até os Estados Unidos participar da celebração. A ONG teve seu ápice em forma presencial com essa vitória, chegando a abrir 3 turmas com dezenas de alunos.</h5>
        <h5 class="text-md-left lead">Na pandemia, os primeiros meses foram de pura incerteza, até que em maio, decidiram começar tudo de forma 100% online. Porém, não era todo mundo que tinha um acesso fácil à internet. Por isso, fizeram muito uso do Instagram para compartilhar resumos e quizzes, por muitos planos de celular pré-pagos incluírem a rede social. Quando começaram a fazer vídeo aulas, expandiram para o Brasil inteiro, ganhando uma participação bem grandes de pessoas de outros estados. Mas ainda sim, continuavam a enfrentar problemas. Eles tinham que ter pessoas dispostas a gravar vídeos e, por isso, chegaram a criar uma operação que ensinasse os coordenadores a gravar.</h5>
    </div>
    <div class="row mb-5">
        <h6 class="text-md-right">Fonte: <a href="freezonemz.com.br/entrevista-conheca-a-ong-grandes-altitudes/#:~:text=A%20ONG%20Grandes%20A(l)titudes%20integra%20conhecimento%20e%20solidariedade,cobrados%20em%20provas%20de%20vestibular" target="_blank">freezonemz.com.br/entrevista-conheca-a-ong-grandes-altitudes</a></h6>
    </div>
    <!--<div class="row">--->
    <!--</div>--->
</div>
{% endblock %}