{% extends 'base.html' %}
{% load static %}
{% block title %}Doações{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-5">
        <div class="p-3 bg-warning bg-opacity-75 rounded" style="text-align: center; box-shadow: 12px 12px #dfdfdfbd;">
            <div class="fs-2">
                <h1 class="text-center mb-2 mt-2"><b>Bem-vindo a página de doações!</b></h1>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="p-3 mb-2 justify-content-between align-items-center" style="text-align: center; box-shadow: 12px 12px #dfdfdfbd; background-color:#bdbdbd;background-repeat: no-repeat, no-repeat;">
            <div>
                <h2 class="text-center mb-2">Faça uma doação!</h2>
                <p class="text-center mb-2" style="font-size: 22px">Todos nós precisamos de um empurrãozinho, um “copo de café” para reforçar as energias.</p>
                <p class="text-center mb-2" style="font-size: 22px">Nosso serviço é puramente feito sem esperar retornos financeiros, por isso considere fazer uma doação!</p>
                <p class="text-center mb-2" style="font-size: 22px">Para nos ajudarmos, é possível realizar uma doação usando o <b style="background-color: #ffc107;">Transferência, PayPal ou Pix!</b></p>
                
                <div class="p-3 mb-2 flex-wrap justify-content-between align-items-center" style="background-color:#bdbdbd; background-repeat: no-repeat, no-repeat;">
                    <div style="background-color:#ffffff;background-repeat: no-repeat, no-repeat; border-radius: 5px;">
                        <div class="row">
                            <div class="col" style="margin: 10px; margin-left: 25px;  margin-bottom: 25px;">
                                <div>
                                    <h5><b style="background-color: #ffc107;">Transferência:</b></h5>
                                    <div class="p-3 mb-2 flex-wrap justify-content-between align-items-center" style="background-color:#73CEE3 ;background-repeat: no-repeat, no-repeat; margin-top: 15px;">
                                        <div class="text-center" style="margin-top: 15px;">
                                            <p style="font-size: 18px;"><i><b>Agência:</i></b>  xxxx-x </p>    
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="p-3 mb-2 flex-wrap justify-content-between align-items-center" style="background-color:#73CEE3 ;background-repeat: no-repeat, no-repeat; margin-top: 15px;">
                                        <div class="text-center" style="margin-top: 15px;">
                                            <p style="font-size: 18px"><i><b>Conta:</i></b>  xxxxx-x</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="margin: 10px; margin-right: 25px; margin-bottom: 25px;">
                                <div>
                                    <h5><b style="background-color: #ffc107;">PayPal:</b></h5>
                                    <div class="p-3 mb-2 flex-wrap justify-content-between align-items-center" style="background-color:#73CEE3 ;background-repeat: no-repeat, no-repeat; margin-top: 15px;">
                                        <div class="text-center" style="margin-top: 15px;">
                                            <p style="font-size: 18px"><i><b>Email:</i></b>  nome@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="p-3 mb-2 flex-wrap justify-content-between align-items-center" style="background-color:#73CEE3 ;background-repeat: no-repeat, no-repeat; margin-top: 15px;">
                                        <div class="text-center" style="margin-top: 15px;">
                                            <p style="font-size: 18px"><i><b>Telefone:</i></b>  (xx) xxxxx-xxxx</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="margin: 10px;  margin-bottom: 25px;">
                                <h5><b style="background-color: #ffc107;">Pix:</b></h5>
                                <img style="width: 200px; height: auto; object-fit: cover;" src="https://www.canalautismo.com.br/wp-content/uploads/2018/05/qrcode-RevistaAutismo.png" alt="QrCode">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
