{% extends 'base.html' %}
{% load static %}
{% block statics %}
<link href="{% static '../static/css/bstrap-css/carousel.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Example headline.</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Some representative placeholder content for the second slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

      <div class="container">
        <div class="carousel-caption text-end">
          <h1>One more for good measure.</h1>
          <p>Some representative placeholder content for the third slide of this carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--carousel slide end-->
<!--features start-->
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <hr class="featurette-divider">
  <!--feature 1-->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It`ll blow your mind.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
  </div>
  <hr class="featurette-divider">
  <!--feature 2-->
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>
  <hr class="featurette-divider">
  <!--feature 3-->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>
  <hr class="featurette-divider">
</div><!-- /.container -->
<!--faq begin-->
<div class="container mb-3">
  <div class="container marketing mx-auto pt-2 pb-4 my-5 bg-warning bg-opacity-75 rounded" style="font-family: Comic Sans MS; 
  text-align: center; box-shadow: 12px 12px #dfdfdfbd;">
    <div class="fs-2">
      <h1 class="text-center mb-2 mt-2"><b>Dúvidas Frequentes</b></h1>
      <h5 class="text-center mb-3">Perguntas mais Frequentes entre os Visitantes. ;)</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i>Como funciona o trabalho da ONG presencialmente?</h6>
      <p>
        <strong><u>A ONG atua de forma presencial</u></strong>, em uma escola municipal em que grande parte dos alunos são moradores da Rocinha. Lá, os voluntários ajudam dando aulas de reforço principalmente em português e matemática que apesar de serem as matérias mais básicas, os alunos têm grande dificuldade.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i>Como posso entrar em contato com a ONG?</h6>
      <p>
        <strong><u>Nós estamos principalmente nas redes sociais</u></strong>, mas caso deseje entender melhor como funcionamos ou realizar alguma parceria, a melhor forma de contato é através do nosso e-mail.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>Qualquer Pessoa pode ajudar?</h6>
      <p>
        Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i>Como sei para onde a minha doação foi?</h6>
      <p>
        As doações são formas de ajudar a ong crescer. Você pode doar sendo voluntário ou ajudar financeiramente. Esse apoio financeiro é de grande importância para nós tanto para conseguirmos realizar mais publicidade sobre a organização e consequentemente atingir mais pessoas quanto para dar suporte aos nossos alunos como materiais escolares ou cestas básicas.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i>Quero ajudar a Grandes Altitudes com as aulas mas não sei gravar vídeos. Ainda consigo participar? </h6>
      <p><strong><u>Claro que sim</u>.</strong>, nós ensinamos a como gravar os vídeos para que mais pessoas possam ajudar</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> Another question that is longer than usual</h6>
      <p>
        Of course! We're happy to offer a free plan to anyone who wants to try our service.
      </p>
    </div>
  </div>
  
</div>

<!--faq end-->

<div class="container py-3 mt-3 mb-5 mx-auto" style="background-color: rgba(115, 206, 227, 0.4); box-shadow:2px 2px 9px rgba(50, 50, 50, 0.77)">
<!-- <img class="container py-3 mt-3 mb-5" src="{% static '../static/img/imagemboladabackground.png'%}" alt="logo"> -->
  <div class="row mx-auto">
    <div class="col-lg-6 offset-lg-1 pt-2" style="background-color:#228092; border-radius: 10px; opacity: 80%;">
      <div class="palavras-voluntario" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: left;">
        <h2 style="color:#FFFFFF;">VENHA SER UM VOLUNTÁRIO!<br>
        VOCÊ PODE AJUDAR MILHARES DE
        ESTUDANTES NO BRASIL TODO!</h2>
      </div>
    </div>
<!--<div class="col-lg-6 offset-lg-1 pt-2">
      <img class="container py-3 mt-3 mb-2" src="{% static '../static/img/grandes-altitudes-logo.png'%}" alt="logo">
    </div>
  </div>-->
  <div class="row">
    <div class="col-lg-2 offset-lg-10" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">
      <button type="button" class="btn mx-auto" style="background-color:#DAE74E;">Tornar-se Voluntário</button>
    </div>
  </div>
</div>
<!--volunteer anchor area-->
{% endblock %}