{% extends 'signup.html' %}
{% load static %}
{% block title %}Faça Login!{% endblock %}
{% block form %}
<form method="post" action="signin">
    {% csrf token %}
    <h1 class="h3 mb-3 fw-normal">Faça Login!</h1>
    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="seu.nome@exemplo.com" name="email">
        <label for="floatingInput">Email</label>
    </div><div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Senha</label>

    <div class="checkbox mb-3">
    <label>
        <input type="checkbox" value="remember-me"> Lembre-me
    </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Criar conta!</button>

    <p>Não possui uma conta? <a href="/signup">Cadastre-se!</a></p>

    <h3 class="mt-5 mb-3 text-muted">Grandes Altitudes</h3>
</form>
{% endblock %}