{% extends 'base.html' %}
{% load static %}
{% block title %}Matérias{% endblock %}
{% block statics %}
<style>
    @import url('http://fonts.cdnfonts.com/css/chau-philomene-one');
    .box{
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
    }
    .cell{
        width: 30%;
         vertical-align: top;
        display: inline-block;
        *display: inline;
        zoom: 1
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-5">
        <div class="container marketing mx-auto pt-2 pb-3 my-5 bg-warning bg-opacity-75 rounded" style="font-family: Comic Sans MS; text-align: center; box-shadow: 12px 12px #dfdfdfbd;">
            <div class="fs-2">
                <p class="text-center mb-2">
                <b>Matérias</b>
                <h5 class="text-center mb-3" style=" line-height: 0.6; color:#a7a7a7">Tenha acesso aos nossos vídeos e resumos.</h5>
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        {% for nome, attr in materias.items %}
            {% for dados in attr.values %}
            <div class="col-md-4">
                <a href="/" class="reset-a">
                    <div class="card text-center">
                        <i class="fa-brands fa-tiktok fa-5x center_icon_card"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{nome}}</h5>
                            <p class="card-text">{{dados}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
